footer {
    .upper-ft {
        padding: 3rem 3% 5rem 3%;
        background-image: linear-gradient(to right, var(--light-yellow), var(--orange));
        
        p, h3 {
            color: var(--red);
            text-shadow: .5px .5px .5px var(--light-yellow);
            font-size: 1.1em;
            text-align: justify;
        }

        h3 {
            text-align: center;
            font-size: 2em;
            padding-bottom: 1.2rem;
        }
        form { 
            * {
                border-radius: 5px;
                border: none;
            }
            input, label {
                display: grid;
                text-align: left;
            }
            input, textarea, button {
                margin: 10px;
                padding: 5px;
            }
            .radio {
                display: grid;
                grid-template-columns: 20px auto;
                grid-gap: 10px;
            }
            input, textarea {
                &:invalid {
                    border-bottom: 3px solid var(--red);
                }
                &:valid {
                    border-bottom: 3px solid #00aa00
                }
            }
            button {
                padding: 5px 20px;
            }
        }
    }
    .lower-ft {
        background-color: var(--red);
        p, a {
            color: var(--light-yellow);
            text-decoration: none;
        }
        li {
            list-style: none;
            padding-right: 5px;
        }
    }
    @media screen and (min-width: 552px) {
        .upper-ft {
            padding: 3rem 5% 5rem 5%;
            display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-gap: 50px;
        }
    }
}