<footer>
    <section class="upper-ft _center-flex">
        <div>
            <h3>
                Heading
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div>
            <h3>
                Heading
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div>
            <h3>
                Quer mais?
            </h3>
            <form class="_center-grid" action="/" method="post">

                <label for="email">
                    Qual seu email?
                </label>
                <input id="email" name="email" type="email" required>

                <label for="nome">
                    Como posso te chamar?
                </label>
                <input id="nome" name="nome" type="text"  maxlength="30" minlength="3">

                <label for="textarea">
                    Mais alguma ideia?
                </label>
                <textarea name="Sugestao" id="textarea" cols="30" rows="5" maxlength="255"></textarea>

                <div class="radio">
                    <input type="radio" name="sexo" value="homem" id="homem"> <label for="homem">Homem</label> 
                    <input type="radio" name="sexo" value="mulher" id="mulher"> <label for="mulher">Mulher</label> 
                    <input type="radio" name="sexo" value="irrelevante" id="irrelevante"> <label for="irrelevante">Irrelevante</label>
                </div>

                <button type="submit">
                    Enviar
                </button>
            </form>
        </div>
    </section>
    <section class="lower-ft _center-flex">
        <p class="flex-16 flex-md-2 center">
            Copyright &copy; - 2019
        </p>
        <ul class="_center-flex flex-16 flex-md-10">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Contato</a>
            </li>
            <li>
                <a href="#">Sobre</a>
            </li>
            <li>
                <a href="#">Mais</a>
            </li>
        </ul>
    </section>
</footer>