<div id="principal">
<header>
    <article class="header-bg _center-flex">
        <h1>
            <a href="#sobre">
                <span class="sign">
                    Sign</span>/>
                <span class="sign"><</span>Script
            </a>
        </h1>
    </article>
</header>

<main>
    <article id="sobre" class="margin-top-50">
        <h2 class="center margin-bottom-30">
            O que é o SignScript?
        </h2>
        <section class="row-flex container">
            <div class="flex-16 flex-lg-8  _center-flex center">
                <span class="question teri-gaki-persimmon">
                    ?
                </span>
            </div>
            <div class="flex-16 flex-lg-8">
                <p>
                    A pergunta que não quer calar... <em>O que é SignScript?</em>
                    E a resposta é bem lógica: Atualmente é apenas uma ideia.
                    Como assim? O SignScript, ainda não existe, mas <em>irá</em>,
                    eu mesmo pretendo criá-lo como um projeto de TCC... mas chega de
                    falar isso, vamos ver alguns pontos sobre ele:
                </p>
                <dl>
                    <dt>Tem a ver com linguagem de sinais...</dt>
                    <dd>
                        Como o própio nome já diz, <em>Sign</em>, que significa
                        sinal, ele terá como base a linguagem de sinais, embora
                        eu pretenda usar sinais que sejam mais universais, apenas poucos
                        são, então terá como maior base a linguagem brasileira de sinais.
                    </dd>
                    <dt>Tem a ver com programação e desenvolvimento</dt>
                    <dd>
                        Script, embora possa significar varias coisas, todas tem relação com
                        a escrita, ou um papel a se desempenhar, mas não só isso, a palavra Script
                        se popularizou por causa da linguagem JavaScript e muitas bibliotecas, e frameworks
                        baseados nela tem usado essa palavra na sua composção, não indo longe disso,
                        juntei Sign e Script e já podemos imaginar o que irá sair, não é mesmo?  
                    </dd>
                    <dt>Provavelmente você pensou errado</dt>
                    <dd>
                        SignScript <em>não</em> será uma linguagem de programação, isso seria um 
                        absurdo, mas tem a ver, SignScript irá agir como um editor, ou até
                        mesmo uma IDE por ter uma tilização bem especifica que será a programação
                        utilizando linguagem de sinais. O que ela fará exatamente? Será uma tecnologia
                        em computer vision que irá capturar os sinais feitos por alguém em frente a camera
                        e "traduzí-los" em uma linguagem de programação, que será JavaScript, legal, né?
                    </dd>
                </dl>
            </div>
        </section>
    </article>
    <article id="porque" class="bg">
        <h2 class="center pad-top-50 margin-bottom-20">
            Por quê?
        </h2>
        <section class="row-flex container">
            <div class="flex-16 flex-lg-9">
                <p>
                    A ideia parece legal, mas será que ela realmente é util? Alias se um surdo quiser quiser
                    aprender a programar, não vai ter tantos problemas assim, programação não está relacionada
                    com o ouvir, mas sim ler e escrever. Mas é nesse ponto que as pessoas se enganam, ser surdo
                    não quer dizer apenas que você não pode ouvir, segundos estatísticas, existem cerca de 10
                    milhões de surdos somente no Brasil e pelo menos 70% deles tem dificuldade de entender, ou
                    ainda, não sabem nada de português e dependem exclusivamente da linguagem de sinais, isso
                    gera um isolamento muito grande dessas pessoas em literalmente todas as áreas academicas, 
                    em especial as áreas de tecnologia, visto que há pouquissimo material para auxiliar essas pessoas. 
                </p>
                <p>
                    Pense em sí mesmo(a), nasceu no Brasil e sabe falar e ler português muito bem, mas agora, você vai
                    para outro país totalmente diferente, como a Russia, não sabe nada de lá, como se sentiria? Será que 
                    seria fácil aprender a viver nesse país sem saber nada dele? Concerteza não, mas ainda seria mais
                    fácil para você aprender russo e a viver nesse país, que para um surdo aprender o português, ou inglês
                    que é a língua "padrão" para a maioria das linguagens de programação, pois o material para brasileiros
                    aprenderem russo é maior que o para surdos aprenderem o português, imagine então para aprenderem uma 
                    linguagem de programação!
                </p>
                <p>
                    Se imagine na Rússia novamente, lá, provavelmente você faria o seguinte, internet -> cursos de russo
                    ou livros que ensinam russo, e se você quiser aprender a programar, faria quase a mesma coisas, 
                    internet -> cursos de programação, ou algum livro que ensine, por outro lado, se você não sabe 
                    nenhum idioma que tenha materia para aprender isso, o que faria? Pense que um deficiente auditivo teria
                    que fazer o caminho, curso de português especifico para surdos -> internet -> curso de programação com 
                    legendas (ou livros) e mesmo assim teria grande dificuldade no processo todo, pois a sintaxe do português
                    e de uma linguagem de sinais é bem diferente!
                </p>
            </div>
            <div class="flex-16 flex-lg-7 _center-grid center">
                <img class="imagem porque" alt="pessoa pensando em frente a um computador">
            </div>
        </section>
    </article>
    <article id="mais">
        <h2 class="center pad-top-30 margin-bottom-20">
            Mais alguma coisa?
        </h2>
        <section class="row-flex container">
            <div class="flex-16 flex-lg-8">
                <img class="imagem" alt="">
            </div>
            <div class="flex-16 flex-lg-8">
                <p>
                    Imagino que ainda esteja confuso sobre o que é o SignScript, certo?
                    Não é pra menos! É sim um pouco complicado de entender a ideia, se você
                    já programou algo alguma vez, deve ter se deparado com editores de código,
                    tais como brackets, vs, vsCode, sublime, notepad++, dentre outros, o 
                    SignScript, será basicamente isso, mas com um objetivo em especifico, que é 
                    possibilitar surdos e quem mais tiver interesse a programar usando linguagem 
                    de sinais, ficando em frente a camera do notebook e usando sinais especificos
                    para realizar determinados comandos. Não! Não será usado o alfabeto manual para 
                    a maioria das coisas, apenas em momentos especificos, como nomear variaveis, funções
                    ou classes, mas para coisas como declarar funções, classes, tipo de variaveis,
                    operações matematicas, etc, irão existir sinais especificos.
                </p>
                <p>
                    No fim, não há muita coisa nova nesse projeto, ele apenas será um editor de código
                    com tecnologia de computer vision e machine learning para "entender" sinais especificos
                    feitos através de gestos em frente a camera do notebook.
                </p>
            </div>
        </section>
    </article>
</main>
<aside class="bg _center-flex pad-20">
    <p id="likeP" class="_center-flex">
        Gostou do projeto? Deixe seu 
        <button id="like" type="button" class="margin-left-10 like"></button>
    </p>

    <p id="liked" class="_center-flex">
        Obrigado!
        <span class="liked-circle _center-grid bg-eucalyptus"></span>
    </p>
</aside>

</div>
