<div id="principal">
    <header>
        <article class="header-bg _center-flex">
            <h1 class="mais-title">
                <span class="sign">
                    Sign</span>/>
                    <span class="mais">mais</span>
                <span class="sign"><</span>Script
            </h1>
        </article>
    </header>
    
    <main id="sobre">
        <article class="margin-top-30">
            <h2 class="center margin-bottom-30">
                Tem mais?
            </h2>
    
            <section class="content">
                <p>
                    Se você chegou até aqui, significa que tem algum interesse no projeto e isso
                    me deixa muito feliz!<br>
                    Mas será que tem mais? Bem, por hora não... mas você pode ficar de olho nos meus outros 
                    projetos, como o <a target="_blank" href="https://github.com/CristoferPortela/lizFramework" rel="noopener">lizFramework</a>
                    que logo estará disponivel para baixar por npm (este site, inclusive utiliza deste meu framework css), 
                    ou o meu JORM que será um remake do meu antigo
                    <a target="_blank" href="https://github.com/CristoferPortela/DataAccessObject-dao">DAO</a>.
                </p>
                <p>
                    Fique atento! Aos poucos cada um desses projetos irão melhorar e se tornar algo 100% profissional!
                </p>
                <p class="center pad-20 bg-artic">
                    <strong></strong>
                </p>
            </section>
        </article>
    </main>
</div>
