<nav class="main-nav golden-nectar-to-echinoida-torns">
    <section class="brand">
        <img>
        <h1>
            SignScript
        </h1>
    </section>

    <button class="toggler">
        <span>| | |</span>
    </button>

    <section id="main-menu" class="toggled">
        <ul class="menu-list">
            <li>
                <a href="#" class="pad-bottom-10 underline-left l-teri-gaki-persimmon">Home</a>
            </li>
            <li>
                <a href="#" class="pad-bottom-10 underline-left l-teri-gaki-persimmon">Sobre o projeto</a>
            </li>
            <li>
                <a href="#" class="pad-bottom-10 underline-left l-teri-gaki-persimmon">Libras</a>
            </li>
            <li>
                <a href="#" class="pad-bottom-10 underline-left l-teri-gaki-persimmon">Mais</a>
            </li>
            <li>
                <form action="/search" method="GET" class="nav-form">
                    <input id="search" type="text" placeholder="Pesquise...">
                    <span class="lupa">
                        <label for="search">
                            <img src="../../images/search.png" alt="search icon">
                        </label>
                    </span>
                    <input type="submit">
                </form>
            </li>
        </ul>
    </section>
</nav>
