@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat-UltraLight.otf);
}

:root {
    --title: 'montserrat', cursive;
    --red: #f80012;
    --light-yellow: rgb(255, 165, 0);
    --dark-yellow: rgb(204, 139, 20);
    --alpha-light: rgba(255, 165, 0,.8);
    --alpha-dark: rgba(204, 139, 20,.8);
    --orange: #ff6c00;
}
html {
    scroll-behavior: smooth;
}

body, span, p, h1, h2, h3, h4, h5, h6
button, a {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

h2 {
    color: #121416;
    font-size: 2em;
    font-family: var(--title)
}

.container {
    margin-left: 1%;
    margin-right: 1%;
    @media screen and (min-width: 552px) {
        margin-left: 3%;
        margin-right: 3%;   
    }
    @media screen and (min-width: 720px) {
        margin-left: 5%;
        margin-right: 5%;   
    }
    @media screen and (min-width: 992px) {
        margin-left: 8%;
        margin-right: 8%;   
    }
}

.delay {
    transition: ease-in-out .8s !important;
}
.bg {
    background-color: #f0f8ff;
}

.imagem {
    max-width: 100%;
}

main p {
    display: block;
    margin: 10px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    .container()
}

.liked-circle {
    background-image: url(../images/Ok-512.png);
    background-size: 100%;
}